{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "experimentalTernaries": true,
  "jsxSingleQuote": true,
  "semi": false,
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/app/globals.css",
  "tailwindFunctions": ["clsx", "cn", "twMerge", "twJoin"]
}
