@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // #Syntax Highlighting - Light Theme
  --sh-class: #2d5e9d;
  --sh-comment: #a19595;
  --sh-entity: #e25a1c;
  --sh-identifier: #354150;
  --sh-jsxliterals: #6266d1;
  --sh-keyword: #e02518;
  --sh-property: #e25a1c;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
}

.dark {
  // #Syntax Highlighting - Dark Theme
  --sh-class: #4c97f8;
  --sh-identifier: white;
  --sh-sign: #8996a3;
  --sh-string: #0fa295;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

// #Base Styles

html {
  min-width: 360px;
}

// #Code Block Customization

.sh__line::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  margin-right: 24px;
  text-align: right;
  color: #a4a4a4;
}

// #Scrollbar Customization

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

// #Prose Customization

.prose {
  pre {
    @apply overflow-x-auto rounded-lg bg-neutral-100 shadow-md dark:bg-neutral-950;

    code {
      @apply p-0;
      counter-reset: sh-line-number;
      border: initial;
      line-height: 1.5;
    }
  }

  code {
    @apply rounded-lg px-1 py-0.5 font-mono;

    span {
      @apply font-medium;
    }
  }

  a {
    @apply decoration-sky-600 decoration-3 underline-offset-4 transition-colors dark:decoration-sky-400;

    &:hover {
      @apply decoration-wavy;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium tracking-tight;

    &::before {
      @apply hidden pr-1 hover:inline-block;
      content: '#';
    }
  }

  strong {
    @apply font-semibold;
  }
}

// #Custom Classes

.title {
  @apply mb-3 text-balance text-2xl font-semibold tracking-tight;
}
